* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #e6e6e6;
}
.nav {
  background-color: rgb(255, 255, 255);
  width: 99%;
  height: 90px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 100px;
}
.nav img {
  width: 57px;
  height: 72px;
  border-radius: 40%;
  margin-left: 50px;
}

.nav .name {
  margin-bottom: -6px;
}
.mark {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  color: rgb(90, 89, 89);
  font-weight: bold;
}
.first {
  width: 99%;
  background-color: white;
}
.first p {
  display: flex;
  justify-content: center;
  padding: 20px 42px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.4px;
}
table {
  width: 100%;
  direction: rtl;
  border-collapse: separate;
  border-spacing: 20px 28px;
  background-color: #e6e6e67c;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.spaceUnder {
}
.border td,
.border th {
  border-bottom: 2px solid rgb(162, 193, 243);
  margin-bottom: 20px;
}
